<template name="signInWithEmailModal">
  <div class="modal fade" id="sign-in-with-email-modal" tabindex="-1" role="dialog" aria-labelledby="sign-in-with-email-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Sign In to DCS With Email</h4>
        </div>
        <div class="modal-body">
          <form id="sign-in-with-email">
            <div class="form-group">
              <label for="emailAddress">Email Address</label>
              <input type="email" name="emailAddress" class="form-control" placeholder="What's your email, friend?">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" class="form-control" placeholder="How about a password, pal?">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Create Account</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Sign In</button>
        </div>
      </div>
    </div>
  </div>
</template>
