[data-social-login],
.btn-login-email {
  color: #fff;
  display: block;
  width: 100%;
  padding: 10px 20px;

  i {
    display: inline-block;
    font-size: 1.25em;
    margin-right: 5px;
  }

  &:hover {
    color: #fff;
  }
}

[data-social-login="loginWithFacebook"] {
  background: $facebook;

  &:hover {
    background: darken( $facebook, 5% );
  }
}

[data-social-login="loginWithGithub"] {
  background: $github;

  &:hover {
    background: darken( $github, 5% );
  }
}

[data-social-login="loginWithGoogle"] {
  background: $google;

  &:hover {
    background: darken( $google, 5% );
  }
}

[data-social-login="loginWithTwitter"] {
  background: $twitter;

  &:hover {
    background: darken( $twitter, 5% );
  }
}

.btn-list {
  list-style: none;
  padding: 0;
}

.btn-list li {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0px;
  }
}
